<div class="mainDiv">
  <div class="centerDiv">
    <h1>Welcome To Typing Speed Test</h1>
    <h2>{{messageText}}</h2><br>
    <textarea id="myWords" cols="100" rows="10" placeholder="Type Here!..." (keyup.enter)="clickButton()"
      [disabled]="buttonText==='Start'"></textarea><br><br>
    <div class="button-group">
      <button id="btn" class="submitbtn" (click)="toggleButtonText()">
        {{buttonText==='Start' ? 'Start' : 'Done'}}
      </button>
      <button id="btn2" class="submitbtn" (click)="resetTextArea()">Reset</button>
    </div>
  </div>
</div>